:root {
    --golden: #c3a144;
    --blue-green: #005a66;
    --navy: #1a354b;
    --white-blue: #e7f5ff;
    --oxygen: 'Oxygen', sans-serif;
    --crimson: 'Crimson Pro', serif;
    --cinzel: 'Cinzel', serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Crimson Pro', serif;
    font-size: 1.125rem;
    color: var(--white-blue);
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3, h4 {
    font-family: var(--oxygen);
    padding-bottom: 1.3125rem;;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: var(--golden);
    padding-bottom: 2.2rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1.8rem;
}

.button-golden {
    display: flex;
    margin: 3rem auto;
    background-color: var(--golden);
    color: var(--navy);
    font-family: var(--oxygen);
    font-size: 1.3125rem;
    padding: 0.175em 3em;
    border-radius: 2em;
}

.button-golden:hover,
.button-golden:focus {
    opacity: .75; 
}

.hero-button {
    margin: 3rem auto;
}

.icon {
    width: 130px;
    color: var(--white-blue);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--white-blue);
  }

a:hover {
    color: lightblue;
  }

header {
    background-color: var(--navy);
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.nav-top {
    text-align: center;
    padding: 1rem 0;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: var(--oxygen);
    text-transform: uppercase;
}

.navigation {
    color: var(--white-blue);
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: var(--blue-green);
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.nav {
    visibility: hidden;
    height: 0;
    padding: 1.2rem;
    font-size: 1.125rem;
    position: absolute;
    text-align: center;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.menu-item {
    padding: 0.5rem;
}


/* -------------------Nav toggle button (hamburger)--------------------------- */

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--white-blue);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* ---------------------------Hero section------------------------- */

.hero {
    padding: 4rem 0 6rem;
    background-color: var(--navy);
}

/* .home-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.home-right {
    display: flex;
    justify-content: center;
}

.hero img {
    margin: 0 auto;
}

/* -----------------------Our promise section---------------------------- */

.our-promise {
    color: var(--white-blue);
    background-color: var(--blue-green);
    text-align: center;
    padding: 6rem 0;
}

.badge {
    max-width: 235px;
    margin: 0 auto;
}

.badges div:nth-child(-n + 2) {
    padding-bottom: 4.5rem;
}

/* -------------------- About us section----------------- */

.about-us-section {
    background: linear-gradient(125deg, #C0D4DA 4.01%, #94D0D0 100%);
    padding: 6rem 0;
}

.about-us {
    color: var(--navy);
}

.about-us img {
    margin: 2rem 0;
}

.square {
    background-color: var(--blue-green);
    text-align: center;
    padding: 2.1em;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 350px;
    margin: 0 auto;
}

.square p {
    font-size: 1.3125rem;
}

.squares-collumn {
    margin-top: 3rem;
}
.squares-collumn div:nth-child(-n + 2) {
    margin-bottom: 3rem;
}

/* --------------------contact form------------------------ */

.contact-form {
    background-image: url(assets/bg-form.png);
    background-color: var(--blue-green);
    background-size: cover;
    padding: 6rem 0;
}

form {
    max-width: 1100px;
    background-color:rgb(26, 53, 75, 0.65);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 1;
}

form h2 {
    margin: 2rem auto 0;
    max-width: 80%;
    text-align: center;
    color: var(--golden);
    
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto 1.2rem;
}

label {
    margin-bottom: 0.2rem;
}
input {
    height: 2rem;
    max-width: 100%;
}

textarea {
    height: 12.8rem;
}

input:hover {
    background-color: lightblue;
  }

  input:focus {
    background-color: lightblue;
  }

input:invalid:required {
    border-color: #ad4753
  }

input:valid {
    border-color: #0075c9;
  }

  textarea:invalid:required {
    border-color: #ad4753
  }

/* ----------------------------Footer--------------------- */

footer {
    background-color: var(--navy);
    padding: 4rem 0;
}

footer p {
    margin-bottom: 1.2rem;
}

footer h4 {
    margin-top: 2.2rem;
}

.footer-nav {
    text-transform: none;
    font-family: var(--crimson);
    margin-bottom: 1.2rem;
}

.finish-line {
    font-family: var(--cinzel);
    font-size: 1rem;
    color: var(--golden);
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}


@media (min-width: 800px) {
    
    .row {
        display: flex;
        gap: 2rem;
    }

    /* .hero-container {
        display: block;
    } */

    .home-left {
        max-width: 550px;
        width: 50%;
    }

    .home-right {
        max-width: 50%;
    } 
    
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        min-height: 0;
        position: relative;
        padding: 0;
        align-items: center;
        width: 550px;
        max-width: 60%;
    }

    .menu-item {
        padding: 0;
        display: flex;
    }

    .navigation {
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .container-badges {
        justify-content: space-between;
    }

    .badges div:nth-child(-n + 2) {
        padding-bottom: 0;
    }

    .about-us {
        max-width: 50%;
    }

    .squares-collumn div:nth-child(-n+2) {
        margin-bottom: 0;  
    }

    .squares-collumn {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    

    .form-left-section, .form-right-section {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .form-container {
        display: flex;
        width: 100%;
    }

    .footer-mini-column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .footer-head {
        max-width: 60%;
    }

    .footer-mini {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .hero, .our-promise, .about-us-section, .contact-form {
        padding: 6rem 0;
    }

    footer {
        padding: 6rem 0;
    }
}

@media (min-width: 950px) {
    .about-us {
        max-width: 60%;
    }

    .form-left-section>.form-field {
        margin: 0 2rem 1.8rem auto;
    }

    .form-right-section>.form-field {
        margin: 0 auto 1.8rem 2rem;
    }

    h1 {
        font-size: 2.6rem;
        padding-bottom: 2.2rem;
    }
    
    h2 {
        font-size: 2.4rem;
        padding-bottom: 2.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    .hero, .our-promise,.about-us-section, .contact-form {
        padding: 8rem 0;
    }

    form h2 {
        max-width: 70%;
    }
}